<div><%= render 'layouts/sidebar'%></div>
        	  <div class="main-content"> <!--Informative portion-->
            
              <h1>Culture Shift</h1>
              
            	<h2 class="headers">The Next Industrial Revolution</h2>
                 <div id="quote">
                    	<blockquote>3D printing is turning traditional manufacturing on its head,<br /> and in the near future the same will happen to our culture.<br />  We are planning for this future.
            			</blockquote>
            		</div>
                	<p>There will be no more production lines in factories.  Just rows of printers able to take even the most complex digital design and turn it into a beautifully precise product. 
                   
                    <p>
                     The traditional ways of thinking about consumer products will diminish.  Currently, if you want something you have to look at what's available and make your selection.  This is no longer true.  3D printing enables you to have whatever you can imagine.  Creating incredible things in the the digital world has always been possible, and for the first time there is a simple way for ideas to be transformed into physical objects.<br /></p> 
<p>Economies of scale will not exist.  This uproots a two-century old staple of economics.  That principle states that mass production is the only logical manufacturing technique because, as you produce more, products become cheaper to produce on a per product basis.  This is not the case in the 3D printing industry.  Every item created costs the same amount to produce (assuming the amount of material used is the same).  You could potentially be the only person in the world with a Pac-Man shaped computer desk and it would cost the manufacturing company exactly the same as the boring rectangular desks we have today.  The same is true for any other shape or product you can imagine.  <br/></p>
                    
                    
                    
                    <p class="mantra"><strong>This is a completely different way of seeing the world and we want to facilitate this culture shift.</strong></p>
                    
                <h2 class="headers">The shift</h2>
                	<p>Maybe you don't want the regular old Pac-Man shape for your desk.  In your mind Pac-Man always should have had teeth, two eyes, and glasses.  Our simple interface allows users to easily see similar, tweaked alternatives to the designs that have already been uploaded.  If none of the altered versions suit you, you can create your own. Simply download the design, make alterations as you see fit, upload the altered design, and we will print and ship your personalized item to you.<br /></p>
					<p>If you follow the 3D printing industry, you know that 3D printing something as large as a desk will cost you an arm and a leg at current prices.  However, prices have been steadily dropping for two decades and soon these larger objects will be just as affordable as a desk at Ikea. If given the choice, would you rather have the same cookie cutter desk as everyone else on the block or would you choose to express your individuality and stand out from the crowd by having your own unique, perhaps self-made, desk?<br /></p>
					<p style=" text-align:center"><strong>Tell us what you think on our message board.</strong></p>
                	
                </div> <!--End main content-->
          
       </div><!--End content-parent-->
                    <div class="">
                    	<div id="">
                    		<h3></h3><!-- List #1.  Separate Lists for benefits to buyers and sellers-->
                        		<ul>
                            		
                            	</ul>
                     	</div><!--End sellers-->       
                            
                     	<div id="">       
                        	<h3></h3><!--List #2.  Separate Lists for benefits to buyers and sellers--> 
                        		<ul>
                            		
                                </ul>   
                     	</div><!--end buyers-->	
                    </div><!--end of end-lists-->

            
	</body>
</html>