<div id="content-parent"><!--Allows sitemap div and Main content to sit side by side-->
        <%= render 'layouts/sidebar'%>
            
        </div><!--End Sitemap-->
            
        	  <div class="main-content"> <!--Slightly altered from Home main content. Informative portion-->
            
              <h1>Philosophy</h1>
            	<h2 class="headers">Our Belief</h2>
                	<p>It is our belief that every individual has the right to express themselves in whatever way they see fit.  This is not a bold belief.  It is a belief this country was founded on and a belief most of the world has adopted.  So, it is ironic that as much as we want to be different most of us still wear the same jewelry, buy the same furniture, and play with the same toys as thousands if not millions of people all over the world.  All these things were made by the same machines, doing the exact same daily routine to make corners perfectly square, edges perfectly smooth, and everything perfectly identical. We are giving consumers the ability to be different again.  This time in a <em>truly</em> unique way.  <br/></p>
                    
                    
                    
                    <p class="mantra"><strong>This time around the beauty is in the<em> imperfections.</em></strong></p>                    
                
                	
                </div> <!--End main content-->
          
       </div><!--End content-parent-->
                    <div class="">
                    	<div id="">
                    		<h3></h3><!-- List #1.  Separate Lists for benefits to buyers and sellers-->
                        		<ul>
                            		
                            	</ul>
                     	</div><!--End sellers-->       
                            
                     	<div id="">       
                        	<h3></h3><!--List #2.  Separate Lists for benefits to buyers and sellers--> 
                        		<ul>
                            		
                                </ul>   
                     	</div><!--end buyers-->	
                    </div><!--end of end-lists-->

            
	</body>
</html>