<!--<div id="wiki-text-box">
            	<p>Wiki</p>
            </div>-->
 <!--END OF HEADER-->  
      
     <%= render 'layouts/sidebar'%>
            
        </div><!--End Sitemap-->
            
        	  <div class="main-content"> <!--Informative portion-->
            
              <h1>WIKI HOME</h1>
            	<h2 class="headers">VISION</h2>
                	<p>Our vision is to <strong>create a hub for 3D designs</strong>.<br/></p>
                    <div id="quote">
                    <blockquote>The barrier between imagination and reality is breaking down.<br/>3D printing will change the world.<br/>
            This is the future,<br/>and we want you all to be part of it.
            </blockquote>
            </div>
                    We believe a major goal of technology in the 21st century is to accentuate individuality in an ever-shrinking, homogenous world. The onset and domination of mass-produced consumer items in the 20th century has left people yearning to express themselves in unique ways; hence, the explosion of social networks, where people can show the world their true selves.  The next logical step is for this self-expression to shift from the digital to the physical world.<br/></p>
                    
                    What if you were able to display your individual flare in every piece of material in your room; from the watch on your wrist or the frame of your glasses, to the desk you are sitting at or the coffee table your feet are kicked up on?  We are creating a central marketplace to provide such designs.<br/></p>
                    
                    There is no shortage of creative people and no shortage of people willing to expand on creative ideas.  Our focus is on creating a simple interface to promote this expansion.  The mission of our interface is to promote the creation of <em>ideas on top of ideas</em>.<br/></p>
                    
                    <p class="mantra"><strong>Our goal is to allow users to <em>create their own reality.</em></strong></p>
                <hr/>
                    
                <h2 class="headers">WHATE ARE WE?</h2>
                	<p>We are a web-based company that serves as a one-stop shop for all of your 3D printing needs, whether <a class='showBuySell' href"#">buyer</a> or <a class='showBuySell' href"#">seller</a>. We improve the efficiency of 3D design upload, download, customization, sales and printing .   We aim to become the Kayak.com of 3D printing, providing a place for buyers to find their 3D printed item for the lowest price.<br/></p>
                    
                    <p>3D printing is a new, intimidating technology.  We wanted to simplify and streamline the process so that even people who've never heard of 3D printing can use our site with ease.  Our intuitive interface allows simple navigation and manipulation of 3D designs people like you have already uploaded to the site.<br/></p>
                    
                    <p class="mantra">We are committed to the viral expansion of creative ideas and the ability of our site to provide mutual benefit between consumers, designers and 3D printing providers.</p>
                </div> <!--End main content-->
          
       </div><!--End content-parent-->
                    

            
	</body>
</html>



