#testList li{
	color:#CCC;
	margin-top: 20px;
	font-size: 1.2em;
	list-style: none;
	padding: 8px;
	margin-top: 0px;

}
#testList li a{
	color: #09f;
	padding: 10px;
}

.primary {
	margin-left: 380px;
	margin-top: 200px;
	position: absolute;
	
}

.myIdeas {
	font-size: .8em;
}

.contain {
	width: 600px;
	background-color: #333;
	border: 5px solid lime;
	margin-top: 20px;
	border-radius: 20px;
	font-family:Arial, Helvetica, sans-serif;
	color: #F7F7F7;
}