
<div id="sellers">
                            <h3>For Sellers</h3><!-- List #1.  Separate Lists for benefits to buyers and sellers-->
                                <ul>
                                    <li>Upload to Creality3D and we will place your design on <strong>EVERY</strong> 3D marketplace on the web.</li>
                                    <li>We provide in depth analysis of your designs' performance including how much money you are making and how much you are projected to make.</li>
                                    <li>Upload your 3D file in any format and we will convert it accordingly.</li>
                                    <li>Manage your channel on Creality3D and we will make sure it is identical on all other sites.</li>
                                    <li>Personalized channels including design display and personal blog.</li>
                                    <li>We promote your best-selling items on our home page.</li>
                                </ul>
                        </div><!--End sellers-->       
                            
                        <div id="buyers">       
                            <h3>For Buyers</h3><!--List #2.  Separate Lists for benefits to buyers and sellers--> 
                                <ul>
                                    <li>One website for all 3D designs.</li>
                                    <li>We point you to the lowest priced customized products.</li>
                                    <li>Request custom items without designing them yourself.</li>
                                    <li>We provide information on which materials are best for your needs.</li>
                                    <li>Create design derivatives based on designs on our site.</li>
                                    <li>Examine 3D designs with our 3D model viewer.</li>
                                    <li>Custom profiles to save your favorite designs.</li>
                                    <li>View and comment on other user's design collections.</li>
                                    <li>To prevent drowning in a sea of bad, unwanted designs, we clear out those no one has bought over a set amount of time.</li>
                                </ul>   
                        </div><!--end buyers--> 



<div id="sitemap"><!--Site Navigation.  Extends down Main Content.-->
        	<table width="150px" cellpadding="10px" cellspacing="8px">
				<th> SITEMAP: </th>
                <tr>
    				<td><%= link_to "Home", wiki_path%></td></tr>
   				<tr>
    				<td><%= link_to "Philosphy", wiki_philosophy_path%></td></tr>
                <tr>
    				<td><%= link_to "Culture Shift", wiki_culture_path%></td></tr>
    			<tr>
    				<td><a href="business-model.html" rel="Business Model">Business Model</a></td></tr>
    			<tr>
    				<td><a href="3d-tech.html" rel="3D Tech">3D Tech Info</a></td></tr>
                <tr>
    				<td><%= link_to "Launch Interface", root_path%></td></tr>
			</table>



                        
